@font-face {
   font-family: 'Moonhouse' ;
   src: url('../fonts/moonhouse.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* general */
.container {
	max-width: 1300px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.double-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* general END */

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.logo {
  font-family: 'Moonhouse', sans-serif;
  font-size: 36px;
  color: #000;
}

nav ul {
  display: flex;
}

nav ul li {
  position: relative;
  margin-left: 16px;
  transition: 0.5s;
}

nav ul li::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: 0.5s;
}

nav ul li a {
  color: #000;
  font-size: 18px;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li:hover a {
  color: red;
}
/* header END */

/* hero section */
.hero-section {
  width: 100%;
  height: 80vh;
  position: relative;
}

.hero-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.hero-box {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* hero section END */

/* about */
.about-section {
  width: 100%;
  height: 100vh;
}
/* about END */
