@font-face {
   font-family: 'Moonhouse' ;
   src: url('../fonts/moonhouse.ttf') format('truetype');
}

/*
colors:

blue: #4f78de;
purple: #9361eb;

orange: #ff4000;

dark(black): #19222d;
middle: #1f2937;
light: #2a384b;

almost-white: #ebeef2;
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* general */
.btn {
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  background-color: #ff4000;
  color: #fff;
  border: 0.5px solid #ff4000;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4f78de;
  border-color: #4f78de;
}

.container {
	max-width: 70%;
  margin: 0 auto;
}

.container-2 {
  max-width: 70%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-hero {
  width: 100%;
  height: 50vh;
  position: relative;
  /* background-color: #ebeef2 */
  background: url("../img/pageHeroBg.png");
  background-size: cover;
  background-position: center;
}

.page-hero-inner {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-hero-inner h1 {
  font-size: 42px;
  text-align: center;
  color: #ff4000;
  text-transform: uppercase;
}

.page-content-inner {
  padding: 120px 0px 60px;
}

.page-content-inner p {
  font-size: 20px;
  margin-bottom: 24px;
}

.btn-center-container {
  padding: 42px 0px 30px;
}

.double-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}

.inverted {
  flex-direction: row-reverse;
}

.half {
  width: 50%;
}

.half h4 {
  font-size: 24px;
  margin-bottom: 12px;
}

.half p {
  font-size: 18px;
  margin-bottom: 6px;
}

.half-img-container {
  max-width: 250px;
  margin: 0 auto;
}

.half-img-container-2 {
  max-width: 400px;
  margin: 0 auto;
}

.section-title {
  width: 100%;
  text-align: center;
  padding: 54px 0px 42px;
}

.section-title h5 {
  font-size: 24px;
  font-weight: 400;
}

.section-title h4 {
  font-size: 36px;
  color: #ff4000;
  text-transform: uppercase;
}
/* general END */

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: #fff;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 30px;
  margin-right: 6px;
}

.logo {
  font-family: 'Moonhouse', sans-serif;
  font-size: 36px;
  color: #000;
}

nav ul {
  display: flex;
}

nav ul li {
  position: relative;
  margin-left: 16px;
  transition: 0.5s;
}

nav ul li::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 0%;
  height: 3px;
  background-color: #ff4000;
  transition: 0.5s;
}

nav ul li a {
  color: #000;
  font-size: 18px;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li:hover a {
  color: #ff4000;
}
/* header END */

/* hero section */
.hero-section {
  width: 100%;
  min-height: 100vh;
  background: url("../img/pageHeroBg2.png");
  background-position: center;
  background-size: cover;
}

.hero-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0px 16px;
  position: relative;
}

.generator {
  width: 100%;
  height: 60vh;
  background-color: #fff;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 990;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.4);
}

.gen-left,
.gen-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gen-left input {
  width: 80%;
  padding: 16px;
}

.qr {
  height: 400px;
  width: 400px;
  background-color: red;
}

.scroll-down-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
/* hero section END */

/* about */
.about-section {
  padding: 36px 0px 36px;
}
/* about END */

/* ideas */
.ideas-section {
  background-color: #ebeef2;
  padding: 36px 0px 36px;
}

.ideas-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.idea-box {
  width: 400px;
  height: 400px;
  margin-bottom: 36px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
  background-color: #fff;
}

.idea-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0,0,0,0.5);
}

.idea-box-img {
  width: 200px;
}

.idea-box h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

.idea-box p {
  text-align: center;
  margin-bottom: 12px;
}
/* ideas END */

/* contact section */
.contact-section {
  padding: 36px 0px 36px;
}
/* contact section END */

/* footer */
footer {
  padding: 30px 0px;
  background-color: #19222d;
}

.footer-logo {
  font-size: 36px;
  color: #ebeef2;
  font-family: 'Moonhouse', sans-serif;
  margin-bottom: 6px;
}

.footer-row {
  width: 100%;
  display: flex;
  margin-bottom: 36px;
}

.footer-box-smaller {
  width: 33%;
}

.footer-box-smaller p {
  color: #ebeef2;
}

.footer-box-smaller p.footer-description {
  color: #ff4000;
  margin-bottom: 18px;
}

.footer-box-bigger {
  width: calc(100% - 33%);
}

.footer-bigger-row {
  display: flex;
  justify-content: flex-end;
}

.footer-bigger-box {
  margin-left: 24px;
  padding: 0px 24px;
}

.footer-bigger-box h4 {
  color: #ff4000;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-bigger-box ul li {
  margin-bottom: 6px;
}

.footer-bigger-box ul li a {
  color: #ebeef2;
  transition: 0.4s;
}

.footer-bigger-box ul li:hover a {
  color: #ff4000;
}

.footer-row-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-row-2 p {
  color: #ebeef2;
}
/* footer END */


/* media queries */
@media (max-width:1145px){
  .footer-row {
    flex-direction: column;
  }

  .footer-box-bigger {
    width: 100%;
  }

  .footer-box-smaller {
    margin-bottom: 42px;
    width: 100%;
  }

  .footer-bigger-row {
    justify-content: flex-start;
  }

  .footer-bigger-box {
    margin-left: 0px;
    margin-right: 24px;
    padding-left: 0px;
  }
}

@media (max-width: 991.98px) {
  .double-container {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .half {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width:680px){
  .footer-bigger-row {
    flex-direction: column;
  }

  .footer-bigger-box {
    margin-bottom: 24px;
  }

  .footer-row-2 {
    flex-direction: column;
  }
}
